<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>INSERT</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/form-validation.css" rel="stylesheet">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/001">Mostrar alumnos</a>
    <a class="navbar-brand" href="/003">Borrar alumnos</a>
    <a class="navbar-brand" href="/004">Buscar un alumno</a>
    <a class="navbar-brand" href="/005">Actualizar</a>
    <a class="navbar-brand" href="/">MENU PRINCIPAL</a>
  </nav>

  <body class="bg-light">
    <h1 class="h1">Insert</h1>

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Inserta un nuevo registro</h2>
        <p class="lead">Porfavor llena todos los campos</p>
      </div>

      <div class="row">
        
        <div class="col-md-8 order-md-1">
          
          <form method="POST" action="" class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" name="name" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  ingresa correctamente el nombre.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="firstlastName">Primer apellido</label>
                <input type="text" class="form-control" name="apellido1" id="firstlastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                  ingresa correctamente el primer apellido.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="secondlastName">segundo apellido</label>
                <input type="text" class="form-control" id="secondlastName" name="apellido2" placeholder="" value="" required>
                <div class="invalid-feedback">
                  ingresa correctamente el segundo apellido.
                </div>
                
              </div>
            </div>

            

            <div class="mb-3">
              <label for="matricula">Matricula <span class="text-muted"></span></label>
              <input type="number" class="form-control" name="matricula" id="matricula" placeholder="1718110879" required>
              <div class="invalid-feedback">
                ingresa bien la matricula
              </div>
            </div>

            <div class="mb-3">
              <label for="age">Edad</label>
              <input type="number" class="form-control" name="age" id="age" maxlength="3" minlength="1" min="1" max="130" name="edad" required>
              <div class="invalid-feedback">
                ingresa bien la edad porfavor
              </div>
            </div>
            <div class="mb-3">
              <label for="born">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="born" name="Nacimiento" required>
              <div class="invalid-feedback">
                ingresa bien la fecha de Nacimiento porfavor
              </div>
            </div>

            <div class="mb-3">
              <label for="genero">Sexo</label>
              <select name="genero">
                <option value='null' selected>Selecciona</option> 
                <option value="Masculino">Masculino</option> 
                <option value="Femenino">Femenino</option>
              </select>
              
            </div>

            <div class="mb-3">
              <label for="estado" >Estado Civil</label>
          
              <select name="estado">
                  <option value='null' selected>Selecciona</option> 
                  <option value="Soltero">Soltero</option> 
                  <option value="Casado">Casado</option>
                  <option value="Divorciado">Divorciado</option>
                  <option value="Viudo">Viudo</option>
                  <option value="Concubinato">Concubinato</option>
              </select>
              
            </div>
            <input type="submit" value="enviar" >
          </form>  
  
  
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
